@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form {
    font-family: 'Open Sans' sans-serif;
    max-width: 300px;
    background-color: #bebebe;
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px 10px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin: 10px auto;
    font-weight: 150;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: #5757577a;
    border: none;
    font-size: 16px;
    height: auto;
    outline: 0;
    margin: 0;
    padding: 15px;
    width: 100%;
    color: #cceaff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

label {
    display: block;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    width: 100%;
    padding: 19px 40px 18px;
    color: #FFF;
    background-color: #1f7fc4;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: 1px solid #FFF;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

#reset {
    background-color: #af3430;
}
